p {background-color: bisque;}

.segundaClase{
background-color: palevioletred;
}

#encabezado{
    color: plum;
}

input:focus{
    background-color: beige;
}

li:hover{
    background-color: antiquewhite;
}

.box{
    width: 350px;
    height: 150px;
    margin: 50px 5px 30px 200px;
    padding: 25px;
    border: 5px solid palevioletred;
    background-image: url(https://i.pinimg.com/originals/5a/c1/29/5ac1296b709f4427d4c7785a322d78a2.png);
}

